@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(/assets/logo_no_wallpaper.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 400px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.399);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 238, 230, 0.431);
  backdrop-filter: blur(100px);
}

h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.2rem;
}

form input {
  width: 100%;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.5);
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: transparent;
  color: #ffffff;
}

form input::placeholder {
  color: #ffffff;
}

button {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 100%;
  color: #000000;
  cursor: pointer;
  background: rgb(255, 255, 255);
}

button:hover {
  background: rgb(17, 107, 143, 0.877);
}


.terms {
  margin-top: 0.2rem;
}

.terms input {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label {
  font-size: 0.7rem;
}

.terms a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #ffffff;
}

.member a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
